:root {
    --main-color-steel-teal: #172A3A;
    --secondary-color-nyanza-light: rgb(235, 247, 236);
    --alternative-color-paynes-grey: #4F6D7A;
    --alternative-accent-color-dark-sky-blue: #84C0C6;
    --third-color-columbia-blue: #C0D6DF;
}

.navbar-site {
    background-color: var(--alternative-color-paynes-grey);
}

.nav.navbar-nav.navbar-right li a {
    color: var(--secondary-color-nyanza-light);
}

.nav.navbar-nav li a {
    color: var(--secondary-color-nyanza-light);
}

.nav.navbar-nav.navbar-right li a:focus {
    background-color: var(--alternative-color-paynes-grey);
}

.nav.navbar-nav li a:focus {
    background-color: var(--alternative-color-paynes-grey);
}

.nav.navbar-nav.navbar-right li a:hover {
    background-color: var(--main-color-steel-teal);
}

.nav.navbar-nav li a:hover {
    background-color: var(--main-color-steel-teal);
}

.navbar-brand {
    color: var(--secondary-color-nyanza-light);
}

.navbar-brand:hover {
    color: var(--third-color-columbia-blue);
}

.navbar-brand:focus {
    color: var(--secondary-color-nyanza-light);
}

#divCreateSpecimen {
    background-color: rgb(230, 255, 255);
}

.button-accept-default {
    background-color: var(--alternative-accent-color-dark-sky-blue);
}

#modificationOpener {
    color: white;
    background-color: var(--alternative-color-paynes-grey);
    outline-color: var(--alternative-color-paynes-grey);
    width: 100px;
}

#deletionOpener {
    color: white;
    background-color: var(--alternative-accent-color-dark-sky-blue);
    outline-color: var(--alternative-accent-color-dark-sky-blue);
    width: 100px;
}

.horizontal-div {
    text-align: center;
}

#speciesListTable {
    border-collapse: collapse;
    width: 100% !important;
}

.removal-text {
    text-align: center;
    padding-bottom: 25px;
}

#btnCancelSpecimenRemoval {
    border-radius: 8px;
    padding: 8px;
    background-color: var(--alternative-color-paynes-grey);
    outline-color: var(--alternative-color-paynes-grey);
    color: white;
}

#btnAcceptSpecimenRemoval {
    border-radius: 8px;
    padding: 8px;
    background-color: var(--main-color-steel-teal);
    outline-color: var(--main-color-steel-teal);
    color: white;
}

#titleh1 {
    font-size: 48px;
}

.title-header {
    color: var(--main-color-steel-teal);
    content: '\u2630';
}

.site-background {
    background-color: var(--secondary-color-nyanza-light);
}

#btnAddSpecimen {
    background-image: url("/Swagger/res/svg_images/icon_add.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    border-color: transparent;
    height: 50px;
    width: 50px;
}

#btnAddSpecimen:focus {
    outline: none !important;
}

th {
    font-size: 22px;
}

tr {
    font-size: 18px;
}

#speciesListTable tbody tr {
    max-height: 20px;
    overflow: hidden;
    word-wrap: break-word;
}

body {
    padding-top: 50px;
}

@media (max-width: 500px) {
    body {
        padding-top: 35px;
    }
}